{{>global/headerlogged}}

<nav>
    <a href="/home" class="link-button">Volver al inicio</a>
    <a href="/descarte-leche" class="link-button">Animales en descarte leche</a>
    <a href="/liberar-leche" class="link-button">Animales para liberar</a>
</nav>

<h1>Animales en Tratamiento</h1>
<h2>Vacas no tratadas en el turno actual</h2>
{{#if untreatedCows.length}}
    {{#each untreatedCows}}
        <div class="treated-container">
            <div>
                <p class="cow">Nombre del animal: {{this.name}}</p>
            </div>
            <div>
                <p class="treatment">Tratamiento: {{this.treatment.[0].title}}</p>
            </div>
            <div>
                <p>Ubres afectadas: {{#if this.udders.length}}{{join this.udders ", "}}{{else}}Ninguna{{/if}}</p>
            </div>
            <div>
                <p>Cantidad de eventos: {{this.events}}</p>
            </div>
            <div>
                <p>Empieza tratamiento el día: {{formatDate this.startDate}}</p>
            </div>
            <div>
                <p>Empieza tratamiento en el turno: {{formatTurn this.startTurn}}</p>
            </div>
            <div>
                <p>Finaliza tratamiento el día: {{formatDate this.endDate}}</p>
            </div>
            <div>
                <p>Turno actual: {{this.currentTurn}}</p>
            </div>
            <div>
                <p>Medicación para el turno actual: 
                    {{#if medicationSchedule}}
                        {{#with (lookup medicationSchedule (subtract currentTurn 1)) as |meds|}}
                            {{#if meds.length}}
                                {{join meds ", "}}
                            {{else}}
                                Sin medicación ✅
                            {{/if}}
                        {{else}}
                            Sin medicación ✅
                        {{/with}}
                    {{else}}
                        Sin medicación ✅
                    {{/if}}
                </p>
            </div>
            <div>
                {{#if medicationSchedule}}
                    {{#with (lookup medicationSchedule (subtract currentTurn 1)) as |meds|}}
                        {{#if meds.length}}
                            <p>Este animal NO fue tratado en este turno ❌</p>
                            <form action="/cow/mark-treated/{{../_id}}" method="POST" class="mark-treated-form">
                                <input type="hidden" name="turn" value="{{../currentTurn}}">
                                <button type="submit" class="link-button mark-treated-cow" data-id="{{../_id}}">Marcar como tratado</button>
                            </form>
                        {{/if}}
                    {{/with}}
                {{/if}}
            </div>
        </div>
    {{/each}}
{{else}}
   <div class="form-container">
    <p class="no-cows-message">No hay vacas no tratadas en el turno actual.</p>
   </div>
{{/if}}

<h2>Vacas tratadas en el turno actual</h2>
{{#if treatedCows.length}}
    {{#each treatedCows}}
        <div class="treated-container">
            <div>
                <p class="cow">Nombre del animal: {{this.name}}</p>
            </div>
            <div>
                <p class="treatment">Tratamiento: {{this.treatment.[0].title}}</p>
            </div>
            <div>
                <p>Ubres afectadas: {{#if this.udders.length}}{{join this.udders ", "}}{{else}}Ninguna{{/if}}</p>
            </div>
            <div>
                <p>Cantidad de eventos: {{this.events}}</p>
            </div>
            <div>
                <p>Empieza tratamiento el día: {{formatDate this.startDate}}</p>
            </div>
            <div>
                <p>Empieza tratamiento en el turno: {{formatTurn this.startTurn}}</p>
            </div>
            <div>
                <p>Finaliza tratamiento el día: {{formatDate this.endDate}}</p>
            </div>
            <div>
                <p>Turno actual: {{this.currentTurn}}</p>
            </div>
            <div>
                <p>Medicación para el turno actual: 
                    {{#with (lookup medicationSchedule (subtract currentTurn 1)) as |meds|}}
                        {{#if meds.length}}
                            {{join meds ", "}}
                        {{else}}
                            Sin medicación
                        {{/if}}
                    {{/with}}
                </p>
            </div>
            <p>Este animal fue tratado en este turno ✅</p>
        </div>
    {{/each}}
{{else}}
    <div class="form-container">
    <p>No hay vacas tratadas en el turno actual.</p>
    </div>
{{/if}}

<script src="/js/enfermery/markAsTreated.js"></script>
<script src="/js/enfermery/markAsDead.js"></script>
